@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --bg: #333333;
  --card: #1b1b1b;
  --accent: #ffb6ec;
  --text: #f9f9f9;
  color-scheme: light;
}

html,body {
    height:100%; 
    margin:0; 
    background:var(--bg); 
    color:var(--text);
    font-family: 'JetBrains Mono', monospace;
}
.container-fluid {
    max-width:1100px;
    margin:24px auto; 
    padding: 10px; 
    display: grid;
    gap:20px; 
    grid-template-columns: 1fr;
}
.header {
    grid-column:1 / -1;
    text-align:center;
    padding:8px 12px;
    color: var(--accent);
}
h1 {
    font-size: 100px;
    font-family: 'noto serif', serif;
    font-style: italic;
}
.lead {
    margin-top:6px;
    color:var(--text);
}
.card {
    background:var(--card);
    border-radius:12px; 
    padding:12px;
    box-shadow:0 4px 10px #1e1e1e;
}
.text-area {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin-bottom: 10px;
}
li::marker {
    content: "- ";
}
.ad-root {
    position:relative; 
    min-height:220px; 
    border-radius:8px; 
    background:linear-gradient(180deg,#d8d8d8 0%, #868686 100%);
    color:#000000; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    overflow:hidden;
}
.controls {
    margin-top:10px;
    display:flex;
    gap:8px;
    align-items:center;
}
button {
    padding:8px 12px; 
    border-radius:8px;
    background:#fff; 
    cursor:pointer;
    font-weight: 700;
}
.ad-screen {
    width:100%; 
    height:100%; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-content:center; 
    gap:12px;
}
.close-ghost {
    position:absolute;
    top:10px;
    right:10px;
    background: transparent;
    line-height: 10px;
    border-radius:50px;
    padding: 7px;
    cursor:pointer;
    border: none;
    color: white;
}
.store-button {
    position:absolute;
    top:10px;
    left:10px;
    background: transparent;
    line-height: 12px;
    border-radius:5px;
    padding: 6px;
    cursor:pointer;
    color:var(--text);
    border: none;
}
.dark {
    background:#2a2a2a;
    color:#ffffff;
    padding: 45px;
    overflow: hidden;
}
.done-button {
    position:absolute;
    top:10px;
    left:10px;
    background: transparent;
    cursor:pointer;
    color:rgb(0, 0, 255);
    border: none;
}
.skip-button {
    position:absolute;
    top:10px;
    right:10px;
    line-height: 25px;
    border-radius:5px;
    padding: 7px;
    cursor:pointer;
    border: 2px solid rgb(104, 104, 104);
    color: black;
}
.footer {
    grid-column: 1 / -1;
    display:flex;
    justify-content:space-between; 
    align-items:center;
}
a {
    color:var(--accent);
}
a:hover {
    color: rgb(216, 102, 216);
}
@media (min-width: 1000px){
  .container-fluid {
    grid-template-columns: 1fr 1fr;
  }
}